SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_USER={{ postgres_username }}
SEMAPHORE_DB_PASS={{ postgres_password }}
SEMAPHORE_DB_HOST={{ postgres_host }}
SEMAPHORE_DB_PORT={{ postgres_port }}
SEMAPHORE_DB={{ postgres_database }}
SEMAPHORE_ADMIN_PASSWORD={{ semaphore_admin_password }}
SEMAPHORE_ADMIN_NAME={{ semaphore_admin_username }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email }}
SEMAPHORE_ADMIN={{ semaphore_admin_username }}
SEMAPHORE_LDAP_ACTIVATED={{ semaphore_ldap_activated }}
SEMAPHORE_LDAP_HOST={{ semaphore_ldap_host }}
SEMAPHORE_LDAP_PORT={{ semaphore_ldap_port }}
SEMAPHORE_LDAP_NEEDTLS={{ semaphore_ldap_needtls }}
SEMAPHORE_LDAP_DN_BIND={{ semaphore_ldap_dn_bind }}
SEMAPHORE_LDAP_PASSWORD={{ semaphore_ldap_password }}
SEMAPHORE_LDAP_DN_SEARCH={{ semaphore_ldap_dn_search }}
SEMAPHORE_LDAP_SEARCH_FILTER={{ semaphore_ldap_search_filter }}
SEMAPHORE_PLAYBOOK_PATH={{ semaphore_playbook_path }}
SEMAPHORE_ACCESS_KEY_ENCRYPTION={{ semaphore_access_key_encryption }}